<!-- here is the partial html for our beer list controller -->
  <div ng-controller="beerListCtrl">

    <h2 ng-bind="listTitle | capitalize"></h2>  <!-- use a custom Angular filter to capitalize the first letter of this string -->

    <input type="text" ng-model="search">

    <ul class="beer-list">
      <li ng-repeat="beer in beers | filter: search | orderBy: 'name' ">  <!-- use an additional filter to order the beers by a specified property -->
        <h3 ng-bind="beer.name"></h3>
        <p ng-bind="beer.style"></p>
        <img ng-src="/img/{{beer.img}}" />
      </li>
    </ul>

  </div>
